[Unit]
Description=Polkadex Node ({{ inventory_hostname }})
After=network-online.target
Wants=network-online.target

[Service]
User={{ ansible_user }}
ExecStart=/usr/local/bin/polkadex-node \
 --chain=/usr/local/bin/customSpecRaw.json \
 --bootnodes "{{ bootnodes_var }}" \
 --validator \
 --name '{{ validator_name }}' \
 --base-path {{ base_path }} \
 --telemetry-url '{{ telemetry_url }} 1' \
 --prometheus-external \
 --prometheus-port {{ port_prefix }}16 \
 --port {{ port_prefix }}00 \
 --rpc-port {{ port_prefix }}33
 --ws-port {{ port_prefix}}44

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target